Repository lguohan/sonic-buildimage, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lguohan, @jleveque, @qiluo-msft, @xumia

.github/CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# rules are explained here
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @lguohan will be requested for review when someone opens
# a pull request.
*       @lguohan

/device/ @jleveque

# build
/rules/         @qiluo-msft @xumia
/Makefile       @qiluo-msft @xumia
/Makefile.cache @qiluo-msft @xumia
/Makefile.work  @qiluo-msft @xumia

# installer
/installer/     @qiluo-msft

# permission
/files/image_config/sudoers/  @qiluo-msft

[ci]: add armhf build
  azure-pipelines.yml
Owners: @lguohan

only build armhf
  azure-pipelines.yml
Owners: @lguohan

add artifactignore
  .artifactignore
Owners: @lguohan

[sonic-slave]: install nose package explicity (#7258)
  sonic-slave/Dockerfile
Owners: @lguohan

[bf2]: install bluefile packages in the image
  files/build_templates/sonic_debian_extension.j2
  platform/bluefield-arm64/one-image.mk
  platform/bluefield-arm64/rules.dep
  platform/bluefield-arm64/rules.mk
Owners: @lguohan

[submodule]: add mellanox bluefield build scripts 3.6.0-1
  .gitmodules
  platform/bluefield-arm64/bfscripts.dep
  platform/bluefield-arm64/bfscripts.mk
Owners: @lguohan

[bf2]: add gpio mlxbf2 driver
  platform/bluefield-arm64/gpio-mlxbf2.dep
  platform/bluefield-arm64/gpio-mlxbf2.mk
  platform/bluefield-arm64/gpio-mlxbf2/.gitignore
  platform/bluefield-arm64/gpio-mlxbf2/Makefile
Owners: @lguohan

[bf2]: add mlxbf gige driver
  platform/bluefield-arm64/mlxbf-gige.dep
  platform/bluefield-arm64/mlxbf-gige.mk
  platform/bluefield-arm64/mlxbf-gige/.gitignore
  platform/bluefield-arm64/mlxbf-gige/Makefile
Owners: @lguohan

[bf2]: add tmfifo driver
  platform/bluefield-arm64/tmfifo.dep
  platform/bluefield-arm64/tmfifo.mk
  platform/bluefield-arm64/tmfifo/.gitignore
  platform/bluefield-arm64/tmfifo/Makefile
Owners: @lguohan

[sonic-yang]: introduce yang template for internal and external yang models
  src/sonic-yang-models/setup.py
  src/sonic-yang-models/yang-templates/sonic-acl.yang.j2
Owners: @lguohan

[ci]: use native arm machine to build armhf and arm64 images
  .azure-pipelines/azure-pipelines-build.yml
Owners: @lguohan

Fix the broken libnuma1 debian pkg installation problem during sonic-vpp.img creation
  scripts/build_kvm_image.sh
Owners: @lguohan

Change the Virtual platform to vpp. Otherwise the ONIE kvm install fails with error "The image you're trying to install is of a different ASIC type as the running platform's ASIC"
  device/virtual/x86_64-kvm_x86_64-r0/platform_asic
Owners: @jleveque

vpp specific syncd container start configuration change
  files/build_templates/docker_image_ctl.j2
  files/build_templates/per_namespace/syncd.service.j2
  files/build_templates/sonic_debian_extension.j2
Owners: @lguohan

copy VPP sai.profile to the sonic-device-data package
  src/sonic-device-data/src/sai.vs_profile
Owners: @lguohan

Copy the sonic-vpp configuration scripts
  files/scripts/vpp_ports_setup.sh
Owners: @lguohan

Setup the swss docker file template to ignore the vpp sysctl during installation
  dockers/docker-swss-layer-bookworm/Dockerfile.j2
  dockers/docker-swss-layer-bullseye/Dockerfile.j2
  dockers/docker-swss-layer-buster/Dockerfile.j2
Owners: @lguohan

add vpp build packages
  rules/vpp.dep
  rules/vpp.mk
  rules/vppcfgd.dep
  rules/vppcfgd.mk
Owners: @qiluo-msft, @xumia

modify sairedis/swss to use libsaivpp
  rules/sairedis.mk
  rules/swss.mk
Owners: @qiluo-msft, @xumia

add vppcfgd
  files/build_templates/vpp_template.json
  files/build_templates/vppcfg.service.j2
  files/scripts/vppcfg_load.py
  src/sonic-vppcfgd/.gitignore
  src/sonic-vppcfgd/pytest.ini
  src/sonic-vppcfgd/setup.cfg
  src/sonic-vppcfgd/setup.py
  src/sonic-vppcfgd/vppcfgd/__init__.py
  src/sonic-vppcfgd/vppcfgd/__main__.py
  src/sonic-vppcfgd/vppcfgd/config.py
  src/sonic-vppcfgd/vppcfgd/directory.py
  src/sonic-vppcfgd/vppcfgd/log.py
  src/sonic-vppcfgd/vppcfgd/main.py
  src/sonic-vppcfgd/vppcfgd/manager.py
  src/sonic-vppcfgd/vppcfgd/managers_vppcfg.py
  src/sonic-vppcfgd/vppcfgd/runner.py
  src/sonic-vppcfgd/vppcfgd/template.py
  src/sonic-vppcfgd/vppcfgd/utils.py
  src/sonic-vppcfgd/vppcfgd/vars.py
  src/sonic-vppcfgd/vppcfgd/vpp.py
Owners: @lguohan

fix build
  platform/vpp/docker-syncd-vpp.mk
  platform/vpp/files/etc/config-setup/factory-default-hooks.d/10-01-vpp-cfg-init
Owners: @lguohan
